.shareTitle {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3px;
    color: var(--main-color);
    z-index: 1;
    margin-right: 12px;
}

.shareSubtitle {
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
    z-index: 1;
}

.shareOuter {
    display: flex;
    justify-content: space-between;
}

.shareInfoTile {
    padding: 10px;
    border-radius: 15px;
    color: white;
    width: 80%;
}

.shareDivider {
    display: flex;
    align-items: center;
}

.shareItem {
    margin-bottom: 2px;
}

.mt-8 {
    margin-top: 8px;
}

.nameMenuFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}