:root {
    --menu-width: 37.5em;
    --items: 4; 
    --item-width: calc(var(--menu-width) / var(--items));
    --background-color: #11182f;
    --main-color: #0099ff;
    --main-highlight-color:#10929e;
}

.colourMain {
    color: var(--main-color) !important;
}

.App {
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.shareTitle {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3px;
    color: var(--main-color);
    z-index: 1;
}

.shareSubtitle {
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1.5px;
    margin-bottom: -50px;
    z-index: 1;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 60px;
}

.tabItem {
  padding: 4px 17px 4px 17px;
  width: 70px;
  margin: 4px;
  text-align: center;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
  border: 1px solid var(--main-highlight-color);
  border-radius: 4px;
  cursor: pointer;
  background: var(--main-color);
}

.tabItem:hover {
  transition: 0.4s;
  background: var(--main-highlight-color);
  border: 1px solid var(--main-color);
}

.shareSymbol {
  font-size: 72px;
  font-weight: 200;
  color: white;
}

.shareName {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color);
}

.shareInfoSubContainer {
  display: flex;
  color: white;
  font-weight: 60
}

.shareInfo {
  padding: 4px;
}

.pos {
  color: #48eb12;
}

.neg {
  color: #ff3b28;
}

