:root {
    --menu-width: 37.5em;
    --items: 4; 
    --item-width: calc(var(--menu-width) / var(--items));
    --background-color: #11182f;
    --main-color: #0099ff;
    --main-highlight-color:#14b4c3;
}

.chartSelector {
  display: flex;
  z-index: 1;
}

.selected {
  background: var(--main-highlight-color) !important;
}

.colourMain {
    color: var(--main-color) !important;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.tabContainer {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.tabItem {
  padding: 4px;
  width: 50px;
  margin: 4px;
  text-align: center;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
  border: 1px solid var(--main-highlight-color);
  border-radius: 4px;
  cursor: pointer;
  background: var(--main-color);
  font-size: 10px;
  color: white;
  text-transform: capitalize;
}

.tabItem:hover {
  transition: 0.4s;
  background: var(--main-highlight-color);
  border: 1px solid var(--main-color);
}

.shareSymbol {
  font-size: 72px;
  font-weight: 200;
  color: white;
}

.shareName {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color);
}

.shareInfoSubContainer {
  display: flex;
  color: white;
  font-weight: 60
}

.shareInfo {
  padding: 4px;
}

.pos {
  color: #48eb12;
  font-weight: 600;
  font-size: 16px;
}

.neg {
  color: #ff3b28;
}

