.chartBtn {
    background: none;
    padding: 4px;
    margin: 4px;
    text-align: center;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    text-transform: capitalize;
}
