

.tabItem {
  padding: 4px;
  text-align: center;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  color: white;
  text-transform: capitalize;
}
  
.tabItem:hover {
  transition: 0.4s;
  background: var(--main-highlight-color);
  border: 1px solid var(--main-color);
}
.chartContainer {
  flex-grow: 1;
  margin-right: 25px;
}