.sidemenu {
    width: 600px;
    height: 100%;
}

.trade {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

#trades {
    width: 100%;
    color: white;
}

#trades td, #trades th {
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

#trades th {
    background-color: var(--main-color);
}

.green {
    color:  	#b8f870
}

.red {
    color: #df4040;
}