.searchContainer {
    margin-top: 15px;
}

.searchBoxButton {
    background: var(--main-color);
    color:white;
    font: 'trebuchet ms', trebuchet;
    padding: 10px 50px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    -o-border-radius:0 5px 5px 0;
    border:0 none;
    font-weight:bold;
    cursor: pointer;
}
   
.searchBoxText {
    background: #eee;
    padding:10px;
    border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    -o-border-radius:5px 0 0 5px;
    border:0 none;
    width:400px;
}